<%-include('../layouts/header')%>
<%- include('../partials/admin-header')%>
<div class="header" style="margin-top: 80px;">
  <h1>Users List</h1>
</div>
<%- include('../partials/admin-canvas')%>
<div class="container" >


    <div class="table-responsive mt-4">
        <div class="d-flex justify-content-end align-items-center">
            <div class="form-group me-2">
                <input type="text" class="form-control" placeholder="Search" id="searchInput">
            </div>
            <button class="btn btn-secondary me-2"onclick="searchUser()">SEARCH USER</button>
        </div>

        <table class="table table-bordered table-shadow mt-3">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %>
                    <tr>
                      <td><%= user._id %></td>
                      <td><%= user.username %></td>
                      <td><%= user.Status %></td>
                      <td>
                        <% if (user.Status === 'Active') { %>
                            <a href="/admin/userlist/<%=user._id%>"><button class="btn btn-success " >Block</button></a>
                        <% } else if (user.Status === 'Blocked') { %>
                            <a href="/admin/userlist/<%=user._id%>"><button class="btn btn-danger">Unblock</button></a>
                        <% } %>
                      </td>
                    </tr>
                  <% }); %>
            </tbody>
        </table>
    </div>
    
    <% if (users.length > 0) { %>
    <div class="d-flex justify-content-between align-items-center mt-3">
        <p>Showing <%= (currentPage - 1) * perPage + 1 %>-
          <% if(currentPage === totalPages){%>
            <%=totalCount%>
            <%}else{%>
          <%= currentPage * perPage  %>
          <%}%>
           results from <%= totalCount %></p>
        <ul class="pagination">
          <% for (let i = 1; i <= totalPages; i++) { %>
            <li class="page-item <%= currentPage === i ? 'active' : '' %>">
              <a class="page-link" href="?page=<%= i %>"><%= i %></a>
            </li>
          <% } %>
        </ul>
      </div>
      <% } else { %>
        <p>No results found.</p>
      <% } %>
</div>
<script>
   function searchUser() {
        var searchTerm = $('#searchInput').val().toLowerCase();

        // Iterate through each row in the table body
        $('table tbody tr').each(function () {
            var rowText = $(this).text().toLowerCase();

            // If the row contains the search term, show the row; otherwise, hide it
            if (rowText.includes(searchTerm)) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    }
</script>
<%- include('../layouts/footer') %>

